<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MWAISQLEXPRESSSpikeHorizontalNavigation" connectionString="XpoProvider=MSSqlServer;data source=MWAI\SQLEXPRESS;integrated security=SSPI;initial catalog=SpikeHorizontalNavigation" />
    </connectionStrings>
</configuration>